CI_ENVIRONMENT = production

app.baseURL = 'https://yourdomain.com/'
app.indexPage = ''
app.forceGlobalSecureRequests = true

database.default.hostname = localhost
database.default.database = your_database
database.default.username = your_user
database.default.password = your_password
database.default.DBDriver = MySQLi
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci
database.default.port = 3306

session.driver = 'CodeIgniter\Session\Handlers\DatabaseHandler'
session.savePath = 'ci_sessions'
session.cookieName = 'ch_session'
session.expiration = 7200

session.cookieSecure = true
session.cookieHTTPOnly = true
session.cookieSameSite = Lax
